header {
    color: white;
    background-color: #006a05;
    text-align: center;
    padding: 20px;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cccccc;
}

.form-container {
    background-color: #f0f0f0;
    margin-top: 2em;
    margin-left: 33%;
    margin-right: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 2em;
}

.output-container {
    background-color: #f0f0f0;
    margin-top: 1em;
    margin-left: 33%;
    margin-right: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 2em;
}

.submit-container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 0;
}

a {
    display: block;
    width: 5%;
    padding: 10px;

    background-color: #c2b200;
    border-radius: 5px;
    text-align: center;

    text-decoration: none;
    color: black;
    font-weight: bold;

    position: fixed;
    bottom: 20px;
    left: 20px;
    color: #006a05;
    font-weight: bold;
}

a:hover {
    background-color: #5c5400;
    color: white;
}

input {
    width: 100%;
}

.bday {
    width: 25%;
}

.submit {
    display: flex;
    width: 10em;
    background-color: #c2b200;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    padding: 10px;

    text-decoration: none;
    color: black;
    font-weight: bold;
}